@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppin', sans-serif;
}

.text1{
    @apply relative h-6 mt-5;
}

.text1:after{
    @apply h-px absolute w-full bg-slate-300;
    top: 50%;
    content: '';
}

.text1 span{
    @apply absolute top-0 bg-white;
    z-index: 1;
    left: 50%;
    padding: 0 10px;
}
/* .travel {
    @apply pt-12

}

.title_1 {
    @apply text-center text-black text-4xl font-semibold mb-3
}

.title_2 {
    @apply text-center font-light text-xl text-gray-500 mb-10
}

.Img1 {
    @apply grid grid-cols-3 gap-x-8 max-w-6xl mx-auto
}

.Img1_1{
    @apply h-96 mb-5
} */